* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.0);
    border-bottom: 3px solid rgba(43, 48, 59, 0.0);
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.8);
  border: 1px solid rgba(43, 48, 125, 0.8);
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: transparent;
    border-bottom: 3px solid white;
}

#mode, #clock {
    padding: 0 10px;
}

#battery {
  padding: 0 5px;
}

#mode {
    background: transparent;
    border-bottom: 3px solid white;
}

#clock {
    background-color: transparent;
}

#custom-weather {
    background-color: transparent;
}

#custom-kbd {
    background-color: transparent;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

